<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/home.css" />
</head>
<body>
    <div class="header">
        <h1>Roger Federer</h1>
        <p>You want to know more about him, you are on the good page.</p>
      </div>
    <h1>Everything you want to know about the most brilliant tennis player of history.</h1>
</body>
</html>

<h1>{{ message }}</h1>
<h2>{{ foo }}</h2>